/webroot/bootstrap
/webroot/font/
/webroot/fontAwesome
/webroot/css/readable.css
/webroot/css/readable-responsive.css
/webroot/js/bootstrap.js

# Others
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.bak
*.swp
